<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>platos</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!isUserAuthenticated()" [routerLink]="['/login']">
        <ion-icon name="log-in-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isUserAuthenticated()" [routerLink]="['/notificaciones']">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isUserAuthenticated()" [routerLink]="['/datospersonales']">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isUserAuthenticated()" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <span *ngFor="let platos of listaPlatos">
    <ion-card class="ion-padding ion-text-center">

      Plato:         {{platos.nombre}}<br>

      Estado:        {{platos.estadoActual}}<br>

      Cantidad:        {{platos.cantidad}}<br>

      Observaciones:        {{platos.observaciones}}  <br>  

        <ion-button *ngIf="platos.estadoActual=='Espera' && rol==7" (click)="canvioEstado(platos.idPlato,'Preparacion')">
          Empezar Plato
        </ion-button><br>
        <ion-button *ngIf="platos.estadoActual=='Preparacion' && rol==7" (click)="canvioEstado(platos.idPlato,'Lista')">
          Terminar Plato
        </ion-button><br>

        <ion-button *ngIf="platos.estadoActual=='Lista' && rol==8" (click)="canvioEstado(platos.idPlato,'Entregada')">
          Entregada
        </ion-button>
      </ion-card>
    </span>
  </ion-grid>

</ion-content>
