<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start"> <!-- *ngIf="isUserAuthenticated()" --> 
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Login
    </ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="ion-margin" >
    <ion-item>
      <ion-label position="floating">CORREO</ion-label>
      <ion-input [(ngModel)]="email"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating">CONTRASEÑA</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <br>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-button color="danger">Cancel·lar</ion-button>
        <ion-button (click)="login()">Iniciar sessió</ion-button>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <a [routerLink]="['/register']">Crear un nou compte</a>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
