<ion-header>
  <ion-toolbar>
    <ion-title>comandas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        Nº Pedido
      </ion-col>
      <ion-col>
        Estado Actual
      </ion-col>
      <ion-col>
        Tipo
      </ion-col>
      <ion-col>
        Fecha
      </ion-col>
      <ion-col>
        Codigo Mesa
      </ion-col>
      <ion-col>
        Comensales
      </ion-col>
      <ion-col>
        Acciones
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let pedidos of listaPedidos">
      <ion-col>
        {{pedidos.codCom}}
      </ion-col>
      <ion-col>
        {{pedidos.estadoActual}}
      </ion-col>
      <ion-col>
        {{pedidos.tipo}}
      </ion-col>
      <ion-col>
        {{pedidos.fecha}}
      </ion-col>
      <ion-col>
        {{pedidos.codMesa}}
      </ion-col>
      <ion-col>
        {{pedidos.Comensales}}
      </ion-col>
      <ion-col>
        <ion-button [routerLink]="['/comandas/platos', pedidos.codCom]">
          Ver Más
        </ion-button>
        
        <ion-button *ngIf="pedidos.estadoActual=='En espera' && rol==7" (click)="canvioSegui(pedidos.codCom,'Empezada')">
          Empezar Pedido
        </ion-button>
        <ion-button *ngIf="pedidos.estadoActual=='Empezada' && rol==7" (click)="canvioSegui(pedidos.codCom,'Entregada')">
          Terminar Pedido
        </ion-button>

        <ion-button *ngIf="pedidos.estadoActual=='Entregada' && rol==8" (click)="canvioSegui(pedidos.codCom,'Cobrada')">
          Cobrar Pedido
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
